body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: url(/Users/binbin/Documents/buzzin/img/beebg.jpg) no-repeat 50% 50%;
    background-size: cover;
}

@media (min-width: 320px) {
    header,
    footer {
        height: 25vh;
    }
    /* navigation bar */
    nav {
        font-family: 'Tajawal', sans-serif;
        letter-spacing: .2em;
        position: fixed;
        width: 100%;
        line-height: 60px;
    }
    .logo {
        float: left;
        position: fixed;
        width: 100px;
        height: 100px;
        top: 35px;
        left: 40px;
    }
    img {
        width: 55px;
        height: 55px;
    }
    nav ul {
        line-height: 60px;
        list-style: none;
        background: rgba(0, 0, 0, 0);
        overflow: hidden;
        color: #fff;
        padding-top: 6%;
        text-align: right;
        margin: 0;
        padding-right: 20px;
        transition: 1s;
    }
    nav.black ul {
        background: rgba(0, 0, 0, 0.664);
    }
    .showing {
        max-height: 100%;
    }
    nav ul li {
        display: block;
        padding: 0.8em 50px;
    }
    nav ul {
        padding-top: 12%;
        max-height: 0;
    }
    nav ul li a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 1em;
    }
    .nav-icon {
        width: 80px;
        height: 80px;
        position: absolute;
        right: 0;
        display: block;
    }
    .hamburger {
        width: 70px;
        height: 6px;
        position: absolute;
        transition: .5s;
        top: 70%;
        right: 50%;
        display: block;
    }
    .hamburger::before,
    .hamburger::after {
        content: '';
        position: absolute;
        height: 6px;
        background: #fff;
        transition: .5s;
        width: 40px;
    }
    .hamburger::before {
        top: -8px;
    }
    .hamburger::after {
        top: 8px;
    }
    .nav-icon.active .hamburger {
        background: rgba(0, 0, 0, 0);
    }
    .nav-icon.active .hamburger::before {
        top: 0;
        transform: rotate(45deg);
    }
    .nav-icon.active .hamburger::after {
        top: 0;
        transform: rotate(135deg);
    }
    /* main contents */
    .content {
        background-color: rgba(0, 0, 0, 0.664);
        padding: 170px 100px;
    }
    
    p {
        font-size: 2em;
        color: #F6F3F2;
        text-align: right;
    }
    span {
        font-style: italic;
        display: block;
        text-align: left;
        font-size: 1.5em;
        letter-spacing: 0.15em;
    }
    
    input,
    textarea {
        display: block;
        margin: 10px;
        font-size: 2em;
        width: 95%;
        background: rgba(255, 255, 255, 0.600);
        border: none;
        border-radius: 5px;
        padding: 10px;
        margin-top: 20px;
    }
    textarea {
        height: 170px;
    }
    .btn {
        width: 35%;
        background: none;
        color: #F6F3F2;
        border: 2px solid #F6F3F2;
        border-radius: 10px;
        margin-left: 31%;
        margin-top: 15%;
    }
}
@media (min-width: 768px) {
    
}
@media (min-width: 1224px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 80px;
        grid-auto-rows: minmax(100px, auto);
    }
    .left {
        grid-column: 1;
    }
    .right { 
        grid-column: 2;
        width: 540px;
    }
}
@media (min-width: 1824px) {

}