body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 320px) {
    header {
        width: 100%;
        height: 100vh;
        background: url(/Users/binbin/Documents/buzzin/img/skybg7.jpg) no-repeat 30% 50%;
        background-size: cover;
    }

    /* navigation bar */
    nav {
        font-family: 'Tajawal', sans-serif;
        letter-spacing: .2em;
        position: fixed;
        width: 100%;
        line-height: 60px;
    }
    .logo {
        float: left;
        position: fixed;
        width: 100px;
        height: 100px;
        top: 35px;
        left: 40px;
    }
    img {
        width: 55px;
        height: 55px;
    }

    
    nav ul {
        line-height: 60px;
        list-style: none;
        background: rgba(0, 0, 0, 0);
        overflow: hidden;
        color: #fff;
        padding-top: 6%;
        text-align: right;
        margin: 0;
        padding-right: 20px;
        transition: 1s;
    }

    nav.black ul {
        background: rgba(0, 0, 0, 0.664);
    }

    .showing {
        max-height: 100%;
    }
    
    nav ul li {
        display: block;
        padding: 0.8em 50px;
    }
    nav ul {
        padding-top: 12%;
        max-height: 0;
    }
    
    nav ul li a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 1em;
    }
    
    .nav-icon {
        width: 80px;
        height: 80px;
        position: absolute;
        right: 0;
        display: block;
    }
    
    .hamburger {
        width: 70px;
        height: 6px;
        position: absolute;
        transition: .5s;
        top: 70%;
        right: 50%;
        display: block;
    }
    
    .hamburger::before,
    .hamburger::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 6px;
        background: #fff;
        transition: .5s;
    }
    
    .hamburger::before {
        top: -8px;
    }
    
    .hamburger::after {
        top: 8px;
    }
    
    .nav-icon.active .hamburger {
        background: rgba(0, 0, 0, 0);
    }
    
    .nav-icon.active .hamburger::before {
        top: 0;
        transform: rotate(45deg);
    }
    
    .nav-icon.active .hamburger::after {
        top: 0;
        transform: rotate(135deg);
    }
}
@media (min-width: 768px) {
    
}
@media (min-width: 1224px) {
    
}
@media (min-width: 1824px) {

}