body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: url(/Users/binbin/Documents/buzzin/img/skybg1.jpg) no-repeat 5%;
    background-size: cover;
}

header {
    height: 30vh;
}

/* navigation bar */
nav {
    font-family: 'Tajawal', sans-serif;
    letter-spacing: .2em;
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 1;
}
.logo {
    float: left;
    position: fixed;
    width: 100px;
    height: 100px;
    top: 20px;
    left: 40px;
}
img {
    width: 55px;
    height: 55px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding-top: 1%;
    padding-bottom:1%;
    padding-right: 30px;
    text-align: right;
    margin: 0;
    transition: 1s;
}

nav.black ul {
    background: rgba(0, 0, 0, 0.664);
}

nav ul li {
    display: inline;
    padding: 0.8em 30px;
}
nav ul {
    max-height: 50%;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
}

/* astronaut section*/
.pic {
    width: 37%;
    height: 500px;
    float: left;
}
#record {
    width: 200px;
    height: 200px;
    margin-left: 190px;
    margin-top: 95px;
    background: url(/Users/binbin/Documents/buzzin/img/recordfill.gif);
    background-size: cover;
}
/* music section*/
h6 {
    font-size: 1em;
    letter-spacing: 0.1em;
}
.music {
    margin-top: 75px;
}
#songTitle {
    font-size: 1.3em;
    margin-bottom: 50px;
    letter-spacing: 0.2em;
}
button.play {
    float: left;
    background: url(/Users/binbin/Documents/buzzin/img/icons_play.png);
    background-size: cover;
    height: 25px;
    width: 25px;
    border: none;
}
button.pause {
    float: left;
    background: url(/Users/binbin/Documents/buzzin/img/icons_pause.png);
    background-size: cover;
    height: 25px;
    width: 25px;
    border: none;
}

#seekBar {
    width: 690px;
    height: 4px;
    background-color: #fff;
    display: flex;
    float: left;
    margin-top: 20px;
}
#fill {
    height: 4px;
    background-color: #eea532;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    margin: 50px 0 50px 200px;
    width: 690px;
    }
.buttons {
    grid-column: 1;
    padding-top: 40px;
}
.buttons div {
    padding-bottom: 62px;
}
.name {
    grid-column: 2;
    width: 550px;
}
.time {
    grid-column: 3;
}
.time h6 {
    font-size: 1em;
}
