body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

header {
    height: 40vh;
    background: url(/Users/binbin/Documents/buzzin/img/skybg23.jpg);
    background-size: cover;
}

footer {
    height: 50vh;
    background: url(/Users/binbin/Documents/buzzin/img/ticketCloud2.png)  0 90%;
    background-size: cover;
}

/* navigation bar */
nav {
    font-family: 'Tajawal', sans-serif;
    letter-spacing: .2em;
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 1;
}
.logo {
    float: left;
    position: fixed;
    width: 100px;
    height: 100px;
    top: 20px;
    left: 40px;
}
img {
    width: 55px;
    height: 55px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding-top: 1%;
    padding-bottom:1%;
    padding-right: 30px;
    text-align: right;
    margin: 0;
    transition: 1s;
}

nav.black ul {
    background: rgba(0, 0, 0, 0.664);
}

nav ul li {
    display: inline;
    padding: 0.8em 30px;
}
nav ul {
    max-height: 50%;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
}

/* main */
h6,
p {
    margin: 0;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    padding: 10px 100px;
    }
.left {
    grid-column: 1;
    letter-spacing: 0.3em;
    font-size: 2.5em;
    padding-top: 25px; 
    width: 300px;
    text-align: right;
}
.left h6 {
    line-height: 6.2em;
}
.middle { 
    grid-column: 2;
    width: 500px;
    padding-left: 70px;
    padding-top: 85px;
    font-size: 1.3em;
    letter-spacing: 0.04em;
}
.middle h6 {
    line-height: 1.7em;
}
.middle p {
    line-height: 2.3em;
}
.info {
    margin-bottom: 50px;
}
.right {
    grid-column: 3;
    padding-top: 120px;
    
}
.ticket {
    width: 120px;
    height: 70px;
    background: url(/Users/binbin/Documents/buzzin/img/ticketYellowCopy.png) no-repeat;
    background-size: cover;
    margin-bottom: 95px;
    transition: 0.3s;
    }
.ticket:hover{
    transform: scale(1.2);
}
